/*background image*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

main{
  margin:auto;
  text-align: center;
  color: whitesmoke ;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}
h2{
  font-size: xx-large;
  text-align: center;
}
h3{
  font-size: x-large;
}
h4{
  font-size: larger;
}
/*making input box semi-transparent*/
input {
  background-color: rgba(255, 255, 255, 0.5);
  color: aliceblue;
}
::placeholder{
  color:white;
}
/*design for input boxes*/
#js-form{
  padding:100px 0;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.submitBtn{
  font-size: larger;
}
a{
  color: azure;
  font-size: larger;
}
a:hover,
.submitBtn:hover{
  cursor: pointer;
  color: palegreen;
}
/*design for return results*/
.hidden {
  display: none;
}
#results-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 0px;  
}
.item{
  display: flex;
  flex-direction: column;
}
li{
  list-style: none;
}

/* responsive layout do */
@media all and (min-width: 600px){
  #results-list{
    flex-wrap: wrap;
    flex-direction: row;
  }
  #js-search-term{
    height:20px;
    font-size:14pt;
  }
  #js-error-message{
    font-size: 16pt;
  }
  .item{
    width: 500px;
  }


}