/*background image*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

main{
  width:50%;
  margin:auto;
  text-align: center;
  color: whitesmoke ;
}
/*making input box semi-transparent*/
input {
  background-color: rgba(255, 255, 255, 0.5);
  color: aliceblue;
}
::placeholder{
  color:white;
}
#js-form{
  padding:100px 0;
}
.submitBtn{
  font-size: larger;
}
.submitBtn:hover{
  cursor: pointer;
}
li{
  list-style: none;
}
.hidden {
    display: none;
  }
#js-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}